[core]
  excludesfile = ~/.gitignore_global
  editor = nvim -f
  pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[push]
  default = simple
	autoSetupRemote = true

[pull]
	rebase = false 

[init]
	defaultBranch = main

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[user]
	name = Scott Henley
	email = scott.henley@pmg.com
